{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">MIREA TRADE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'search'%}">Найти исполнителя</a>
                </li>
                {% if request.user.userprofile.status != 'worker' %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'form-worker' %}">Стать исполнителем</a>
                </li>
                {% endif %}
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'free-tasks' %}">Создать задание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'tasks' %}">Список заданий</a>
                </li>

            </ul>
            <a style="margin-left: auto;" class="nav-link active navbar-link-signin p-0" href="signin.html"></a>
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'mirea_trade/images/profile(1).png' %}" style="width: 25px;" alt="">
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="{% url 'currentprofile' %}">Профиль</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-item" href="{% url 'mytasks' %}">Мой список заказов</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'myjobs' %}">Мой список заданий</a>
                    </li>
                    {% endif %}
                    {% if request.user.userprofile.status == 'worker' %}
                    <li>
                        <a class="dropdown-item" href="{% url 'settings' %}">Настройки</a>
                    </li>
                    {% elif request.user.userprofile.status == 'regular' and request.user.userprofile is None %}
                    <li>
                        <a class="dropdown-item" href="{% url 'settings' %}">Добавить телеграм</a>
                    </li>
                    {% else %}
                    {% if request.user.is_authenticated %}
                    <li>
                        <a class="dropdown-item" href="{% url 'settings' %}">Изменить телеграм</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    <li>
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'signin'%}">Sign In</a>
                        {% endif %}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>