a {
    text-decoration: none;
}

body {
    font-family: Montserrat, sans-serif;
}

.about__block {
    display: flex;
    justify-content: space-between;
}

.about__left {
    margin-top: 32px;
}

.about__right {}

.about__right-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-link-signin {}

.about__text {
    line-height: 1.5em;
    font-size: 1.1em;
}

.about__links-group {}

.about__info {}

.about__links-item {
    margin-top: 1em;
    font-size: 0.8em;
    background-color: #fff;
    color: #0d6efd;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #0d6efd
}

.about__links-item-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.about__links-item-form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.about__links-item:hover {
    background: #0d6efd;
    color: #fff;
    transition: all .3s;
}

.navbar-link-signin {
    color: #fff;

}

.signup {
    margin-top: auto;
    margin-bottom: auto;
}

.signin__header,
.signup__header {
    background-color: #0d6efd;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.card-body-reports {
    border-radius: 0.4rem;
    padding: 0.1rem;
    /* background-color: rgba(0,0,0,.06); */
    color: #000;
}

.card__item {
    height: 250px;
}

.block-item {
    display: flex;
    align-items: center;
    height: 250px;
}


.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

/* Стилизация формы */
.form-group {
    margin-bottom: 15px;
}

/* Стили для ошибок */
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
}


.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* Стили для самого модального окна */
.modal-content {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.modal__tasks {
    display: none;
}

/* .rating-area {
    overflow: hidden;
    width: 265px;
    margin: 0 auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}
 */

.rating {
    margin: 0 0 1em 0;
    padding: 0;
    border: none;
}

/* Caption */

.rating__caption {
    margin-bottom: 0.5em;
    padding: 0;
}

/* Group */

.rating__group {
    position: relative;
    width: 10em;
    height: 2em;
    background-image: url('/static/mirea_trade/images/off.svg');
    background-size: 2em auto;
    background-repeat: repeat-x;
}

/* .rating__group:focus-within {
    outline: 0.2em solid #4a90e2;
    outline-offset: 0.2em;
} */

/* Star */

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 2em;
    font-size: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-size: 2em auto;
    background-repeat: repeat-x;
}

.rating__star:focus {
    outline: none;
}

.rating__star:hover,
.rating__star:checked {
    background-image: url('/static/mirea_trade/images/on.svg');
}

.rating__star:hover~.rating__star {
    background-image: url('/static/mirea_trade/images/off.svg');
}

/* Options */

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 2em;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 4em;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 6em;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 8em;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 10em;
}

.del__btn-img {
    max-width: 25px;
    height: auto;
}

.del__btn-icon {
    background-color: #fff;
    border: 0;
}

.del__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.del__modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.del__close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: normal;
    cursor: pointer;
}


.comment__content-text-desc {
    line-height: 1.36;
}

.profile__info {
    margin-left: 0.5rem;
}

.profile__name {
    line-height: 1.8;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}

.profile__about {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
}

.profile__status,
.profile__skill,
.profile__telegram {
    font-size: 0.9rem;
    font-weight: 700;
    color: #20d5a4;
    border-radius: 17px;
    display: inline-block;
}

.profile__feedback-rating,
.profile__feedback-feedback {
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
    /* background-color: #FFCF48; */
    /* border-radius: 17px; */
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
}

.profile__feedback-feedback {
    padding-bottom: 1px;
}

.profile__feedback-stars .star {
    color: white;
    /* Цвет пустых звезд */
    font-size: 1.4rem;
}

.profile__feedback-stars .filled {
    color: #FFD700;
    /* Цвет заполненных звезд */
    font-size: 1.4rem;
}

.profile__feedback-quality {
    display: flex;
}

.worker__profile {
    background-color: #10244d;
    color: #fff;
}

.profile__main {
    background-color: #f3f4f6;
}

.profile__info-inner,
.profile__skill-inner,
.profile__report-inner {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.underline {
    height: 3px;
    background-color: #f3f4f6;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.comment__content-text-author {
    font-weight: 700;
    font-size: 18px;
}

.comment__content-text-desc {
    font-size: 14px;
}

.comment__content-text-time {
    color: #a9adb6;
    font-size: 14px;
    font-weight: 300;
}

.profile__nav {
    background-color: #fff;
    padding: 18px;
    margin-bottom: 3rem;
}

.profile__nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile__nav-item {
    display: inline;
}

.profile__nav-link {
    font-weight: 400;
    padding: 18px;
}

.profile__nav-link:hover {
    border-bottom: 4px solid #0d6efd;
    transition: all .1s;
}

.profile__skill-inner .profile__skill {
    background-color: #20d5a4;
    color: #fff;
    padding: 6px;
}

@media (max-width: 460px) {
    .profile__nav {
        display: none;
    }

    .profile__main-info {
        margin-top: 3 rem;
    }
}

.fa-regular {
    margin-right: 0.4rem;
}


.fulltask {
    background-color: #f3f4f6;
    height: calc(100vh - 56px);
}

.fulltask__header {
    background-color: #fff;

}

.fulltask__content,
.fulltask__header {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
}

.fulltask__header-title{
    font-weight: 700;
}

.fulltask__inner {
    background-color: #f3f4f6;
}

.fulltask__header-subject{ 
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 17px;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 2px;
}

.fulltask__header-date{
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #20d5a4;
    border-radius: 17px;
    padding: 3px 6px;
}

.fulltask__header-price{
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    background-color: #20d5a4;
    border-radius: 17px;
    padding: 3px 6px;
}

.space {
    background-color: #f3f4f6;
    height: 1rem;
    margin: 0 !important;
}

.fulltask__author-img {
    width: 100%;
    height: auto;
    /* display: block;
    margin: 0 auto;  */
}

.author__info {
    padding: 0;
}

.author__img {
    display: flex;
    justify-content: center;
    align-items: center;
}


.fulltask__author-name {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
}

.fulltask__author-status {
    font-size: 13px;
    color: #20d5a4;
    display: inline-block;
    font-weight: 600;
}


.card__body-raiting-text{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 1px;
}

.card-body-rating .star{
    font-size: 1.3rem;
}

.card__body-feedback{
    display: inline-block;
}


.profile__main-input{
    width: 100%;
    border: none;

}

/* .button-comment{
    float: right;
} */

.button-wrapper{
    text-align: right;
}

.button-comment{
    background-color: #20d5a4 !important;
    border: 1px solid #20d5a4 !important;
    color: #a94442;
}