{% extends 'app.html' %}

{% block content %}

<section class="order">
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            <h2 class="order__title mt-3">
                Создание заказа
            </h2>
            <!-- <p>Исполнитель</p>
        <div class="order__worker">
            <h4 class="order__worker-name">
                Maxim Lee
            </h4>
            
        </div> -->
            <div class="card col-lg-8 col-xs-9 mb-3">
                <h5 class="card-header">
                    Исполнитель
                </h5>
                <div class="card-body-al d-flex">
                    <div style="display: flex; justify-content: center; align-items: center;" class="card-body-img">
                        <a class="card-body-img-link" href="worker_profile.html">
                            <img style="width: 100px; height: 100px; border-radius: 100%;"
                                src="{{ user_profile.userprofile.photo.url }}" alt="">
                        </a>
                    </div>

                    <div class="card-body">
                        <a class="card-body-name mb-1" value="{{user_profile.user.username}}"
                            style="text-decoration: none; color: #000; cursor: pointer; display: block;">{{user_profile.username}}
                        </a>
                        {% if user_profile.userprofile.contact_link %}
                        <a class="profile__telegram" href="https://t.me/{{user_profile.userprofile.contact_link}}"><i
                                class="message__icon fa-regular fa-message" style="color: #20d5a4;"></i>Телеграм</a>
                        {% endif %}
                        <!-- <div class="d-flex">
                            <div class="card-body-reports d-flex" style="display: inline-block;">
                                <img src="/static/images/chat.png" class="img-fluid" style="width: 15px; height: 15px; margin-top: 1px;
                                                    margin-right: 4px;" alt="">
                                <p class="card-body-number-report mb-0" style="font-size: 0.7rem;">
                                    {{user_profile.userprofile.orders}} заказов</p>
                            </div>
                            <div class="card-body-reports d-flex" style="display: inline-block; margin-right: 0.7rem;">
                                <img src="/static/images/star.png" class="img-fluid" style="width: 15px; height: 15px; margin-top: 1px;
                        margin-right: 4px;" alt="">
                                <p class="card-body-number-report mb-0" style="font-size: 0.7rem;">
                                    {{user_profile.userprofile.rating}}рейтинг</p>
                            </div>
                        </div> -->
                        {% if user_profile.userprofile.rating%}
                        <div class="card-body-rating">
                            <p class="card__body-raiting-text">{{user_profile.userprofile.rating}}</p>
                            <span class="star filled"><i class="fa-solid fa-star fa-2xs"
                                    style="color: #20d5a4;"></i></span>
                            {%if user_profile.userprofile.feedback%}
                            <p class="card__body-feedback">({{user_profile.userprofile.feedback}})</p>
                            {%else%}
                            <p class="card__body-feedback">(0)</p>
                            {%endif%}
                        </div>
                        {%else%}
                        <p class="card-body-rating">Нет рейтинга</p>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xs-9 mb-4">
                <h5>Заголовок задание</h5>
                <input name="title" type="text" value="{{task.title}}" id="inputTitle" class="form-control"
                    placeholder="Введите заголовок" maxlength="100" required>
                <span id="words__count-title" class="" style="font-size:0.7rem;"><span
                        id="textcount">0</span>/100</span>
            </div>
            <div class="col-lg-8 col-xs-9 mb-3">
                <h5>Описание задачи</h5>
                <textarea type="text" name="description" value="{{task.description}}" class="form-control"
                    id="formGroupExampleInput" placeholder="Опишите задание"
                    maxlength="1000">{{task.description}}</textarea>
                <span id="words__count-text" class="" style="font-size:0.7rem;"><span
                        id="textcount">0</span>/1000</span>


            </div>
            <div class="col-lg-8 col-xs-9 mb-3">
                <h5>Прикрепите файлы</h5>
                <input class="form-control mb-4" type="file" id="formFileMultiple" multiple>
            </div>

            <div class="row order__info">
                <div class="order__info-budget col-lg-4 col-sm-6 mb-2">
                    <h5>Бюджет</h5>
                    <input type="text" name="price" value="{{task.price}}" id="inputBudget" class="form-control"
                        placeholder="Введите цену" maxlength="100" required>
                </div>
                <div class="order__info-date col-lg-4 col-sm-6 mb-2">
                    <h5>Дата выполнения</h5>
                    <input id="startDate" name="date" value="{{task.date}}" class="form-control" type="date" />
                </div>
            </div>
            {% if user_profile.userprofile.contact_link is None %}
            <div class="col-lg-8 col-xs-9">
                <h5>Оставьте средство связи с вами</h5>
                <input type="text" id="inputTitle" name="contact_link" value="{{task.contact_link}}"
                    class="form-control" placeholder="Телеграм" maxlength="100" required>
            </div>
            {% endif %}
            <div class="col-lg-8 col-xs-9  mt-3" style="text-align: right;">
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Отправить задание
                </button>
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Успех</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: left;">
                                <p>Задание успешно отправлено</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            <!-- <div class="row col-lg-8 col-xs-12 order__info d-flex" style="justify-content: space-between; flex-wrap: wrap;">
                <div class="order__info-budget mb-2 col-lg-5 col-xs-12">
                    <h5>Бюджет</h5>
                    <input type="text" id="inputBudget" class="form-control" placeholder="Введите цену" maxlength="100"
                        required>
                </div>
                <div class="order__info-date col-lg-6 col-xs-12" >
                    <h5>Дата выполнения</h5>
                    <input id="startDate" class="form-control" type="date" />
                </div>
            </div> -->
        </form>
        <div id="success-modal" class="modal col-lg-6" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="success-message">Операция выполнена успешно!</p>
            </div>
        </div>
        <div data-url="{% url 'for-worker' pk=user_profile.pk %}" id="ajax-data" style="display: none;"></div>
        <!-- Здесь храним URL -->
        {% include 'success.html' %}
    </div>
</section>

{% endblock content %}