{% extends 'app.html' %}

{% block content %}



<div class="info mt-3">
    <div class="container">
        <div class="info__skills">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <h5>Загрузите свою фотографию</h5>
                <div class="col-9">
                    <input class="form-control mb-4 col-lg-9" name="myphoto" type="file" id="myphoto" multiple>
                </div>


                <h5>Напишите о себе</h5>
                <p> Опишите, что вы умеете делать, свои навыки и сильные стороны.</p>
                <div class="mb-3 col-9">
                    <textarea name="about" type="text" class="form-control" id="id_about"
                        placeholder="Ваше представление заказчикам">{{ userprofile.about}}</textarea>
                </div>
                <p>Выберите предметы, по которым способны предоставлять услуги.</p>
                <div class="col-lg-8 col-xs-9 mb-3">
                    <select class="js-example-basic-multiple" name="skills" style="width: 100%;" multiple>
                        {% for skill in skills %}
                        <option value="{{ skill.id }}">{{ skill.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <p>Оставьте свой телеграм для связи с заказчиком.</p>
                <div class="col-9 mb-3">
                    <input name="contact_link" type="text" id="inputTg" value="{{ userprofile.contact_link}}"
                        class="form-control" placeholder="Telegram" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <div id="success-modal" class="modal col-lg-6" style="display: none;">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <p id="success-message">Операция выполнена успешно!</p>
                </div>
            </div>
            <div data-url="{% url 'form-worker' %}" id="ajax-data" style="display: none;"></div>
            <!-- Здесь храним URL -->
            <script>
                $(document).ready(function () {
                    // console.log('JavaScript код загружен');
                    $('form').submit(function (e) {
                        console.log('JavaScript код загруженVVV');
                        e.preventDefault();
                        var ajaxUrl = $('#ajax-data').data('url');
                        console.log(ajaxUrl)
                        $.ajax({
                            type: 'POST',
                            url: ajaxUrl,
                            data: $('form').serialize(),
                            success: function (response) {
                                console.log('asdasd', response.success)
                                if (response.success == 'AAA') {
                                    console.log(response)
                                    console.log('aSDASDASDASDASDASD')

                                    showModal();
                                    setTimeout(function () {
                                        // Перенаправляем на домашнюю страницу
                                        window.location.href = '{% url "home" %}';
                                    }, 2000);
                                    console.log('JavaScript код загружен');
                                } else {
                                    closeModal();
                                    console.log('JavaScript не код загружен');
                                    // В случае ошибки, например, некорректной формы,
                                    // вы можете добавить код для отображения сообщения об ошибке
                                    console.error('Ошибка при отправке формы');
                                }
                            },
                            error: function () {
                                // Обработка ошибок AJAX-запроса, если необходимо
                                console.log('Ошибка при выполнении AJAX-запроса');
                            }
                        });
                    });
                });
            </script>

        </div>
    </div>
</div>

{% endblock content %}