{% extends 'app.html' %}

{% block content %}

<section class="order">
    <div class="container">
        <h2 class="order__title mt-3">
            Создание заказа
        </h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="col-lg-8 col-xs-9 mb-4">
                <h5>Заголовок задание</h5>
                <input name="title" type="text" id="MyTextArea" class="form-control" placeholder="Введите заголовок"
                    value="{{task.title}}" maxlength="100" required>
                <span id="charCount" class="" style="font-size: 0.7rem;"><span>0</span>/100</span>
            </div>

            <div class="col-lg-8 col-xs-9 mb-3">

                <h5>Описание задачи</h5>
                <textarea type="text" class="form-control" id="formGroupExampleInput" name="description"
                    placeholder="Опишите задание" maxlength="1000">{{task.description}}</textarea>
                <span id="words__count-text" class="" style="font-size:0.7rem;"><span
                        id="textcount">0</span>/1000</span>

            </div>

            <div class="col-lg-8 col-xs-9 mb-3">
                <h5>Укажите предмет</h5>
                <select class="js-example-basic-multiple" name="skills" style="width: 100%;" multiple>
                    {% for skill in skills %}
                    <option value="{{ skill.id }}">{{ skill.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-lg-8 col-xs-9 mb-3">
                <h5>Прикрепите файлы</h5>
                <input class="form-control mb-4" type="file" id="formFileMultiple" multiple>
            </div>

            <div class="row order__info">
                <div class="order__info-budget col-lg-4 col-sm-6 mb-2">
                    <h5>Бюджет</h5>
                    <input max="999999" name="price" value="{{task.price}}" type="text" id="inputBudget"
                        class="form-control" placeholder="Введите цену" maxlength="100" required>
                </div>
                <div class="order__info-date col-lg-4 col-sm-6 mb-2">
                    <h5>Дата выполнения</h5>
                    <input id="startDate" name="date" class="form-control" type="date" value="{{task.date}}" />
                </div>
            </div>
            <div class="col-lg-8 col-xs-9">
                <h5>Оставьте средство связи с вами</h5>
                <input name="contact_link" value="{{task.author.contact_link}}" type="text" id="inputBudget"
                    class="form-control" placeholder="Введите телеграм-ник" maxlength="100" required>
            </div>
            <div class="col-lg-8 col-xs-9  mt-3" style="text-align: right;">
                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Создать задание
                </button>
            </div>
        </form>
        <div id="success-modal" class="modal col-lg-6" style="display: none;">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="success-message">Операция выполнена успешно!</p>
            </div>
        </div>
        <div data-url="{% url 'free-tasks' %}" id="ajax-data" style="display: none;"></div> <!-- Здесь храним URL -->
        {% include 'success.html' %}
    </div>
</section>


{% endblock content %}