{% extends 'app.html' %}
{%load static%}
{% block content %}

<div class="jobs">
    <div class="container">
        <div class="jobs__inner">
            {% if user_jobs %}

            {% for job in user_jobs %}
            {% if job.status == 'default' %}
            <div class="jobs__inner-item d-flex col-lg-8 p-4 mt-3"
                style="border: 2px solid #0d6efd; border-radius: 1rem; justify-content: space-between;">
                <div class="jobs__item-info">

                    <h5 class="">Исполнитель: {{job.executor}}</h5>

                    <h5 class="">Заговок: {{job.title}}</h5>

                    <p class="m-0">Цена: {{job.price}} р.</p>
                    <p class="m-0">Дата исполнения: {{job.date}}</p>
                </div>
                <div class="jobs__item-delete">
                    <form method="POST" action="{% url 'deljobs' job.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary"></button>
                    </form>
                </div>
            </div>
            {% elif job.status == 'cancel' %}
            <div class="jobs__inner-item d-flex col-lg-8 p-4 mt-3"
                style="border: 2px solid #0d6efd; border-radius: 1rem; justify-content: space-between;">
                <div class="jobs__item-info">
                    <h5>Исполнитель отменил выполнения этого задания</h5>
                </div>
                <div class="jobs__item-delete">
                    <form method="POST" action="{% url 'deljobs' job.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn"> <img src="{%static 'mirea_trade/images/trash.png'%}"
                                style="max-width:18px; height: auto;" alt=""></button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="jobs__inner-item d-flex col-lg-8 p-4 mt-3"
                style="border: 2px solid #0d6efd; border-radius: 1rem; justify-content: space-between;">
                <div class="jobs__item-info">
                    <h5>Исполнитель отметил это задания, как выполненное</h5>
                    <form method="POST" action="{% url 'rate' job.pk %}">
                        {% csrf_token %}

                        <fieldset class="rating">
                            <legend class="rating__caption">Оцените выполнение работы</legend>
                            <div class="rating__group">
                                <input class="rating__star" type="radio" name="rating" value="1" aria-label="Ужасно">
                                <input class="rating__star" type="radio" name="rating" value="2" aria-label="Сносно">
                                <input class="rating__star" type="radio" name="rating" value="3" aria-label="Нормально">
                                <input class="rating__star" type="radio" name="rating" value="4" aria-label="Хорошо">
                                <input class="rating__star" type="radio" name="rating" value="5" aria-label="Отлично">
                            </div>
                        </fieldset>
                        <button class="btn btn-primary" type="submit">Отправить отзыв</button>

                    </form>


                    <p>Ваша оценка: {{job.report}}</p>
                    <p>Оставьте отзыв: </p> <a
                        href="{% url 'otherprofile' job.executor.user.username %}">{{job.executor.user.username}}</a>
                </div>
                <div class="jobs__item-delete">
                    <form method="POST" action="{% url 'deljobs' job.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn"> <img src="{%static 'mirea_trade/images/trash.png'%}"
                                style="max-width:18px; height: auto;" alt=""></button>
                    </form>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <h4 style="margin-top: 2rem; text-align: center;">У вас еще нет заданий</h4>
            {% endif %}
        </div>
    </div>
</div>


{% endblock content %}