{% extends 'app.html' %}

{% block content %}

<div class="worker__profile mt-3">
    <div class="container">
        <div class="row">
            <h3>{{ user.username }}</h3>
            <img src="">
            <h3>{{user_profile.about}}</h3>
            <h3>Рейтинг: {{user_profile.orders}}</h3>
            <p>{{user_profile.status}}</p>
            {% for skill in selected_skills %}
            <p>{{skill.name}}</p>
            {% endfor %}
            <p>{{user_profile.contact_link}}</p>

        </div>
    </div>
</div>

<div class="reports">
    <div class="container">
        <p style="display:inline-block; border-bottom: 2px solid #0d6efd;">Отзывы</p>
        <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="col-lg-8 pe-0">
                    <input name="description" type="text" id="MyCommentArea" class="form-control" placeholder="Введите комментарий"
                      maxlength="100" required>
                </div>
                <div class="mt-2">  
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
                {% if flug == False %}
                <p style="color: red">Вы можете отправлять один комментарий в минуту</p>
                {% endif %}
            </form>

            <div class="col-lg-8">
                {% for i in comments %}
                <div class="comment-text">
                    <p>{{i.description}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}