<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>DigiMedia - Creative SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <!--

TemplateMo 568 DigiMedia

https://templatemo.com/tm-568-digimedia

-->
</head>




<body>
    <div class="parent">
        <div class="col-lg-4 col-xs-6 m-auto">
            <form class="form-signin" method="POST" action="">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <div class="d-grid gap-3">
                    <input type="username" id="inputUsername" name="username" class="form-control"
                        placeholder="Username" required autofocus>
                    <input type="password" id="inputPassword" name="password" class="form-control"
                        placeholder="Password" required>
                    <div>
                        <style>
                            h5 {
                                color: red;
                            }
                        </style>
                        {% for message in messages %}
                        {% csrf_token %}
                        <h5>{{message}}</h5>
                        {% endfor %}
                    </div>
                </div>
                <div class="checkbox mt-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    <a href="" class="" style="text-decoration: none; color: black;">| Забыли пароль?</a>
                    <!-- ЗАБЫЛИ ПАРОЛЬ     -->
                </div>
                <div class="signup__buttons mt-3">
                    <input class="btn btn-primary btn-block" type="submit" value="Sign In" />
                    <a href="{% url 'signup' %}" class="btn btn-outline-primary" method="POST">Sign Up</a>
                </div>
            </form>
        </div>
    </div>



    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>