{% extends 'app.html' %}

{% block content %}
<div class="space"></div>
<div class="fulltask">
    <div class="container">
        <div class="fulltask__inner">
            <div class="fulltask__header mb-3">
                <h4 class="fulltask__header-title">
                    {{task.title}}
                </h4>

                {% for skill in selected_skills %}
                <p class="fulltask__header-subject">{{skill.name}}</p>
                {% endfor %}
                </p>
                <div class="fulltask__header-info d-flex">
                    <p class="fulltask__header-date me-3">
                        <i class="fa-solid fa-calendar-days"></i>
                        {{task.date}}
                    </p>
                    <p class="fulltask__header-price">
                        <i class="fa-solid fa-ruble-sign"></i>
                        {{task.price}}
                    </p>
                </div>
            </div>
            <div class="fulltask__content">
                <!-- <h4>Заказчик</h4> -->
                <div class="fulltask__content-author col-lg-8 col-xs-9 mb-4 mt-3 row">
                    <div class="author__img col-1">
                        <img class="fulltask__author-img" src="{{task.author.photo.url}}" alt="">
                    </div>
                    <div class="author__info col-11">
                        <p class="fulltask__author-name">{{task.author.user.username}}</p>
                        {%if task.author.status == 'regular'%}
                        <p class="fulltask__author-status">Заказчик</p>
                        {%else%}
                        <p class="fulltask__author-status">Исполнитель</p>
                        {%endif%}
                    </div>
                </div>
                <div class="underline"></div>
                <div class="fulltask__desc col-lg-8 col-xs-9 mb-4 mt-3">
                    <p class="fulltask__desc-text">{{task.description}}</p>
                </div>

                <div class="fulltask__files col-lg-8 col-xs-9 mb-4 mt-3">
                    <h4>Приложенные файлы</h4>
                    {% if task.files %}
                    <img src="{{task.files.url}}" alt="">
                    {% endif %}
                </div>
                <a class="btn btn-primary" href="https://t.me/{{task.author.contact_link}}">Связаться с клиентом</a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}