{% extends 'app.html' %}

{% block content %}

<div class="worker__profile mt-3">
    <div class="container">
        <div class="row">
            <h3>Имя: {{ user.user.username }}</h3>
            <!-- <img src=""> -->
            {% if user.user.userprofile.about %}
            <h3>{{user.user.userprofile.about}}</h3>
            {% endif %}
            {% if user.userprofile.orders %}
            <h3>Заказов: {{user.userprofile.orders}}</h3>
            {% else %}
            <h3>Заказов: 0</h3>
            {% endif %}
            {% if user.user.userprofile.status == 'regular' %}
            <p>Не является исполнителем</p>
            {% else %}
            <p>Исполнитель</p>
            {% endif %}
            {% for skill in selected_skills %}
            <p>{{skill.name}}</p>
            {% endfor %}
            {% if user.user.userprofile.contact_link %}
            <p>Телеграм: <a style="color: #000;"
                    href="https://t.me/{{user.user.userprofile.contact_link}}">{{user.user.userprofile.contact_link}}</a>
            </p>
            {% endif %}


            <!-- <div class=" card mb-3 col-lg-6 me-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/static/images/allmight_woman.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Максим</h5>
                        <p class="card-text">Я студент 4 курса факультета ИИТ. Решаю задачи по физике,
                            электротехнике, схемотехнике</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <a style="text-decoration: none; color: #000;" href="worker__profile-telegram">Telegram</a>
                    </div>
                </div>
            </div>
        </div> -->
            <!-- <div class="col-lg-6">
                    <h6>Мои предметы</h6>
                    <ul style="list-style-type:none; padding: 0;">
                        <li style="text-decoration: none;"> 
                            Электротехника
                        </li>
                        <li style="text-decoration: none;"> 
                            Физика
                        </li>
                        <li style="text-decoration: none;"> 
                            Матстат
                        </li>
                        <li style="text-decoration: none;"> 
                            Схемач
                        </li>
                        <li style="text-decoration: none;"> 
                            Электротехника
                        </li>
                    </ul>
                </div> -->
        </div>
    </div>
</div>


<div class="reports">
    <div class="container">
        <p style="display:inline-block; border-bottom: 2px solid #0d6efd;">Отзывы</p>
        <div class="row">
            <form action="" method="POST">
                <div class="col-lg-8 pe-0">
                    <input type="text" id="inputTitle" class="form-control" placeholder="Написать комментарий..."
                        maxlength="100" required>
                </div>
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-primary" value="Submit">Primary</button>
                </div>
            </form>

        </div>
    </div>
</div>


<div id="vk_comments"></div>
<script type="text/javascript">
    VK.Widgets.Comments('vk_comments');
</script>


<!-- Scripts -->
<script type="text/javascript">
    VK.init({
        apiId: ВАШ_API_ID,
        onlyWidgets: true
    });
</script>
{% endblock %}